absl-py==0.7.0
appJar==0.93.0
astor==0.7.1
atomicwrites==1.2.1
attrs==18.2.0
beautifulsoup4==4.6.0
certifi==2018.8.24
chardet==3.0.4
click==6.7
colorama==0.4.0
cycler==0.10.0
defusedxml==0.5.0
dj-database-url==0.5.0
Django==2.1.4
django-allauth==0.38.0
django-heroku==0.3.1
django-modelcluster==4.3
django-taggit==0.23.0
django-treebeard==4.3
djangorestframework==3.9.1
docutils==0.14
draftjs-exporter==2.1.5
gast==0.2.2
grpcio==1.18.0
h5py==2.9.0
html5lib==1.0.1
idna==2.7
Kivy==1.10.1
Kivy-Garden==0.1.4
kivy.deps.glew==0.1.10
kivy.deps.sdl2==0.1.18
kiwisolver==1.0.1
Markdown==3.0.1
mathplotlib==0.1
matplotlib==2.2.3
mock==2.0.0
more-itertools==4.3.0
numpy==1.16.1
oauthlib==3.0.1
pandas==0.23.4
pbr==5.1.2
Pillow==9.0.1
pipenv==2018.11.26
pluggy==0.8.0
protobuf==3.6.1
psycopg2==2.7.7
py==1.7.0
Pygments==2.3.1
pyparsing==2.2.0
pypiwin32==223
PyQt5==5.11.2
PyQt5-sip==4.19.12
pyqt5-tools==5.11.2.1.3rc6
pytest==3.9.1
python-dateutil==2.7.3
python-dotenv==0.9.1
python-slugify==1.2.6
python3-openid==3.1.0
pytz==2018.5
pywin32==224
PyYAML==3.13
requests==2.19.1
requests-oauthlib==1.2.0
six==1.11.0
termcolor==1.1.0
tqdm==4.26.0
Unidecode==1.0.22
urllib3==1.22
virtualenv==16.4.1
virtualenv-clone==0.5.1
wagtail==2.4
webencodings==0.5.1
Werkzeug==0.14.1
whitenoise==4.1.2
Willow==1.1
