.navbar {
    display: flex;
    justify-content: flex-end;
}

@media screen and (max-width: 700px) {
    .nav {
        justify-content: space-between;
    }
}

@media screen and (max-width: 500px) {
    .nav {
        flex-direction: column;
    }
}